body {
    margin: 0;
    font-family: "Segoe UI";
    background: linear-gradient(109.6deg, rgb(14, 11, 56) 11.2%, rgb(239, 37, 37) 91.1%);
    height: 100vh;
    overflow: hidden;
}

@font-face {
    font-family: "Exan";
    src: url("../fonts/Exan.ttf") format("truetype");
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes slide {
    0%, 50%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 930px;
    background: transparent;
    border-radius: 25px;
    box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px 0px rgba(0,0,0,0.75);
}

.title {
    text-align: center;
}

.title h1 {
    margin-bottom: 0;
    font-family: "Exan";
    font-weight: bolder;
    color: white;
}

.title h1:hover {
    animation: slide 2s infinite;
}

.title p {
    margin-top: 5px;
    font-family: "Exan";
    color: white;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 50px 30px 30px 30px;
    text-align: center;
}

.card {
    display: flexbox;
    background: transparent;
    border-radius: 20px;
    box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 49px 0px rgba(0,0,0,0.75);
}

.card:hover {
    animation: bounce 5s infinite;
}

.card img {
    border-radius: 20px 20px 0 0;
    cursor: grab;
    width: 280px;
}

.card p {
    color: white;
    font-size: 22px;
    font-family: 'Exan';
    margin: 10px 0 10px 0;
    font-weight: bold;
}

.card button {
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: "Exan";
}

@media (max-width: 320px) {
    body {
        overflow: scroll;
        background: none;
    }

    
    .title h1{
        color: black;
        padding-top: 240px;
    }

    .title p{
        color: black;
    }

    .content {
        padding-top: 80px;
    }

    .card p {
        background-color: black;
    }

    .card button {
        background-color: black;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    body {
        overflow: scroll;
        background: none;
    }

    .title h1{
        color: black;
        padding-top: 240px;
    }

    .title p{
        color: black;
    }

    .content {
        padding-top: 80px;
    }

    .card p {
        background-color: black;
    }

    .card button {
        background-color: black;
    }
}

@media (max-width: 768px) {

    body {
        background-repeat: no-repeat;
        height: 140vh;
        overflow: scroll;
    }

    .title {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title h1 {
        margin-top: 48vh;
    }

    .title p {
        margin-top: 1vh;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin: 90% 30px 30px 30px;
        text-align: center;
        flex-direction: column;
        height: 100%;
    }

    .card {
        display: flexbox;
        background: transparent;
        border-radius: 20px;
        box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 1px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 1px 0 rgba(0,0,0,0.75);
        margin-top: 25px;
    }

    .first {
        margin-top: 18vh;
    }

    .card:hover {
        animation: none;
    }
    
    .card img {
        border-radius: 20px 20px 0 0;
        cursor: grab;
        width: 340px;
    }
    
    .card p {
        color: white;
        font-size: 22px;
        font-family: 'Exan';
        margin: 10px 0 10px 0;
        font-weight: bold;
    }
}

@media (max-width: 860px) {

    body {
        background-repeat: no-repeat;
        height: 140vh;
        overflow: scroll;
    }

    .title {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title h1 {
        margin-top: 48vh;
    }

    .title p {
        margin-top: 1vh;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin: 90% 30px 30px 30px;
        text-align: center;
        flex-direction: column;
        height: 100%;
    }

    .card {
        display: flexbox;
        background: transparent;
        border-radius: 20px;
        box-shadow: 1px 2px 1px 0 rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 1px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 1px 0 rgba(0,0,0,0.75);
        margin-top: 25px;
    }

    .first {
        margin-top: 18vh;
    }

    .card:hover {
        animation: none;
    }
    
    .card img {
        border-radius: 20px 20px 0 0;
        cursor: grab;
        width: 340px;
    }
    
    .card p {
        color: white;
        font-size: 22px;
        font-family: 'Exan';
        margin: 10px 0 10px 0;
        font-weight: bold;
    }
}