body {
    margin: 0;
    font-family: "Segoe UI";
}

.main-box {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 480px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
}

.box-logo {
    margin-top: 20px;
    padding: 30px 100px 40px 100px;
}

input {
    align-items: center;
    width: 300px;
    margin-left: 45px;
    height: 38px;
    margin-bottom: 5px;
    border-radius: 5px;
}

input::placeholder {
    padding-left: 10px;
    cursor: text;
}

input[type="checkbox"] {
    width: 15px;
}

.save {
    padding-left: 5px;
    position: absolute;
    padding-top: 12px;
    font-size: small;
}

input[type="submit"] {
    background-color: #1877F2;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.lineor {
    margin-left: 45px;
    width: 300px; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    opacity: 0.5;
}

.lineor span {
    background: white;
    padding:0 10px;
    opacity: 40;
    font-weight: bold;
    color: rgb(46, 46, 46);
}

.otherlog {
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

.otherbtn {
    display: inline-block;
    border: 0;
    background: none;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #2851A3;
    font-weight: bold;
}

.otherbtn i {
    padding-right: 10px;
    font-size: 18px;
}

.inputs p {
    text-align: center;
    font-size: small;
    color: #185ad4;
}

.sec-box {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 70px;
    background-color: white;
    border: 1px solid rgb(182, 182, 182);
    text-align: center;
}

.sec-box p {
    padding-top: 8px;
}

.sec-box span {
    color: #185ad4;
    font-weight: 600;
}

.tbox {
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: white;
    border: 0;
    text-align: center;
}

.footer {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}

@media (max-width: 768px) {

    .main-box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        background-color: white;
        border-radius: none;
        box-shadow: none;
        border: 0;
    }

    .sec-box {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 70px;
        background-color: white;
        border: 0;
        text-align: center;
    }

    .tbox {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 100px;
        background-color: white;
        border: 0;
        text-align: center;
    }

    .footer {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: small;
    }
}